<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>MENU</name>
    <sid>312806137484521</sid>
    <event-sheet>NAVIGATION</event-sheet>
    <size>
        <width>1708</width>
        <height>960</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="979950770070698">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Sprite2" uid="35">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>420</x>
                        <y>240</y>
                        <z>0</z>
                        <width>840</width>
                        <height>480</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btPlay" uid="21">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Touched>false</Touched>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>459</x>
                        <y>350</y>
                        <z>0</z>
                        <width>169.602005005</width>
                        <height>75.694854736</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="spCredits" uid="22">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Touched>false</Touched>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>492</x>
                        <y>625</y>
                        <z>0</z>
                        <width>265</width>
                        <height>135</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btSound" uid="23">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Touched>false</Touched>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>800</x>
                        <y>25</y>
                        <z>0</z>
                        <width>45</width>
                        <height>45</height>
                        <depth>0</depth>
                        <hotspotX>0.51111114</hotspotX>
                        <hotspotY>0.51111114</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances>
        <instance type="arControl" uid="27">
            <properties>
                <width>10</width>
                <height>1</height>
                <depth>1</depth>
            </properties>
            <instance-variables>
                <FAIXA_TOCANDO>0</FAIXA_TOCANDO>
                <FAIXA_A_TOCAR>1</FAIXA_A_TOCAR>
                <DONE_FASE1>false</DONE_FASE1>
                <DONE_FASE2>false</DONE_FASE2>
                <DONE_FASE3>false</DONE_FASE3>
                <DONE_FASE4>false</DONE_FASE4>
                <DONE_FASE5>false</DONE_FASE5>
                <DONE_FASE6>false</DONE_FASE6>
            </instance-variables>
        </instance>
    </nonworld-instances>
    <effects />
</c2layout>
